@import "../../styles/sass/variables";

.service_sec {
    position: relative;

    .background {
        background-color: $bg-dark;

        .image {
            height: 70vh;
            width: 100vw;
            opacity: 0.4;
        }
    }

    .service-content {
        position: absolute;
        top: 10vh;

        .title-two {
            text-transform: uppercase;
        }

        h1,
        p {
            color: $font-light;
        }

        .service-carousel {
            position: relative;

            .service-item {
                padding: 0 1rem;
                max-width: 20vw;

                .icon-box {
                    padding: 3rem;
                    height: 20vh;
                    background-color: $bg-color;
                    align-items: center;
                    border-radius: 1rem 1rem 0 0;

                    .icon {
                        height: 3rem;
                        width: 3rem;
                        background-color: $bg-color;
                        border-radius: 50%;
                        border: 1px solid $primary-color;
                        font-size: 1.8rem;
                        color: $secondary-color;
                        padding: 0.5rem;
                    }

                    h5 {
                        font-size: 1.6rem;
                        font-weight: 600;
                    }
                }

                .image {
                    height: 30vh;
                    border-radius: 0 0 1rem 1rem;
                }
            }

            .arrows {
                position: absolute;
                top: 50%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                transform: translateY(-50%);

                .arrow {
                    font-size: 2rem;
                    color: $font-light;
                    cursor: pointer;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                .left-arrow {
                    margin-left: 1rem;
                }

                .right-arrow {
                    margin-right: 1rem;
                }
            }

            &:hover {
                .arrow {
                    opacity: 1;
                }
            }
        }
    }
}