
$primary-color: #ffc107;
$secondary-color: #28a745;
$tertiary-color: #136526;
$font-color: #080e15;
$font-light: #ffffff;
$bg-color: #ffffff;
$bg-light: #ffffff;
$bg-dark: #000000;
$card-bg: rgb(245, 245, 245);
$bg-grey: #bab8b8;
$border-radius: 6px;
$border-radius-full: 35px;

