@import "../../styles/sass/variables";

.banner_sec {
    .header-carousel {
        .carousel-inner {
            .carousel-item {
                background-color: $bg-dark;
                .img-fluid {
                    height: 70vh;
                    width: 100vw;
                    position: relative;
                    opacity: 0.4;
                }

                .carousel-caption {
                    position: absolute;
                    top: 15vh;
                    text-align: start;

                    .title {
                        color: $primary-color;
                        text-transform: uppercase;
                        font-size: 1.5rem;
                    }

                    .desc {
                        color: $font-light;
                        font-size: 5rem;
                        font-weight: 700;
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}