@import "../../styles/sass/variables";

.footer_sec {
    background-color: $font-color;
    padding: 3rem 0;

    .container {
        padding: 0 3rem;
        max-width: 100%;
    }

    .navbar-brand h1 {
        color: $primary-color;
        font-size: 4rem;
        font-weight: 700;
    }

    h5,
    p {
        color: $font-light;
    }

    .services {
        .main-title {
            color: $primary-color;
            font-size: 2rem;
            font-weight: 500;
        }

        p {
            color: $font-light;

            .icon {
                color: $primary-color;
                margin: 0 0.5rem;
            }
        }

        .btn-social {
            .icon {
                background-color: $bg-color;
                color: $font-color;
                border-radius: 50%;
                padding: 0.5rem;
                font-size: 2.5rem;
                margin: 0 0.5rem;
            }
        }

        .pages {
            display: grid;

            .item {
                text-decoration: none;
                color: $font-light;
                font-size: 18px;
                font-weight: 400;
                margin: 0.2rem 0;

                .icon {
                    font-weight: 500;
                    margin-right: 0.5rem;
                }

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .input-group {
            display: flex;
            align-items: center;

            .form-control {
                flex: 1;
                padding: 1rem;
                border-radius: $border-radius-full 0 0 $border-radius-full;
                border: none;
            }

            .btn-style {
                padding: 1rem;
                border-radius: 0 $border-radius-full $border-radius-full 0;
                border: none;
                background-color: $primary-color;
                color: $font-color;
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;

        p {
            color: $font-light;

            a {
                text-decoration: none;
                color: $primary-color;
            }
        }

        .nav {
            display: flex;

            .nav-item {
                margin-left: 1rem;

                .nav-link {
                    font-size: 18px;
                    font-weight: 400;
                    color: $font-light;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}