@import "../../styles/sass/variables";

.allprojects_sec {

    .top-header {
        background-color: $primary-color;
        padding: 6rem 0;

        .main-title {
            color: $font-light;
        }
    }

    .portfolio-container {
        position: relative;
        margin: 5rem 0;

        .portfolio-item {
            .portfolio-img img {
                height: 25vh;
                width: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
            }

            &:hover .portfolio-img img {
                transform: scale(1.1);
            }

            .portfolio-text {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $primary-color;
                height: 100%;
                width: 100%;
                padding: 5rem;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.5s ease;

                .title {
                    color: $font-light;
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                }

                .icon {
                    background-color: $secondary-color;
                    border-radius: 1rem;
                    font-size: 3rem;
                    padding: 0.5rem;
                    margin: 1rem;
                    color: $font-light;
                }
            }

            &:hover {
                .portfolio-text {
                    opacity: 1;
                }
            }
        }
    }

    #portfolio-flters {
        list-style: none;
        padding: 0;
        margin: 0;

        .btn-outline-border {
            border: 1px solid $primary-color;
            padding: 0.5rem 1rem;
            margin: 0.2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &.active {
                background-color: $primary-color;
                color: $font-light;
            }
        }
    }
}