@import "../../styles/sass/variables";

.services_sec {
    .top-header {
        background-color: $primary-color;
        padding: 6rem 0;

        .main-title {
            color: $font-light;
        }
    }

    .service-content {
        margin: 5rem 0;

        .service-carousel {
            position: relative;

            .arrows {
                position: absolute;
                top: 50%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                transform: translateY(-50%);

                .arrow {
                    font-size: 2rem;
                    color: $primary-color;
                    cursor: pointer;
                }

                .left-arrow {
                    margin-left: 1rem;
                }

                .right-arrow {
                    margin-right: 1rem;
                }
            }

            .service-items {
                display: flex;
                overflow: hidden;
                position: relative;

                .service-item {
                    padding: 0 1rem;
                    min-width: 50%;
                    max-width: 50%;
                    box-sizing: border-box;

                    .icon-box {
                        padding: 3rem;
                        height: 20vh;
                        background-color: $bg-color;
                        align-items: center;
                        border-radius: 1rem 1rem 0 0;

                        .icon {
                            height: 3rem;
                            width: 3rem;
                            background-color: $bg-color;
                            border-radius: 50%;
                            border: 1px solid $primary-color;
                            font-size: 1.8rem;
                            color: $secondary-color;
                            padding: 0.5rem;
                        }

                        h5 {
                            font-size: 1.6rem;
                            font-weight: 600;
                        }
                    }

                    .image {
                        height: 30vh;
                        border-radius: 0 0 1rem 1rem;
                    }
                }
            }
        }
    }

    .testimonial {
        margin: 5rem 0;

        .title-two {
            text-transform: uppercase;
        }

        .main-title {
            color: $font-color;
        }

        .testimonial-carousel {
            position: relative;

            .arrows {
                position: absolute;
                top: 50%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                transform: translateY(-50%);

                .arrow {
                    font-size: 2rem;
                    color: $primary-color;
                    cursor: pointer;
                }

                .left-arrow {
                    margin-left: 1rem;
                }

                .right-arrow {
                    margin-right: 1rem;
                }
            }

            .testimonial-item {
                .img-fluid {
                    height: 5rem;
                    width: 5rem;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }

                h5 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $primary-color;
                }

                i {
                    font-size: 18px;
                    font-weight: 500;
                    color: $font-color;
                }

                p {
                    font-size: 1.4rem;
                    font-weight: normal;
                    color: $font-color;
                }
            }
        }

        .image {
            height: 45vh;
            width: 25vw;
            border-radius: 5px;
        }
    }
}